
.navbar{
	padding: 0;
	background-color: gray;
}

nav div.container{
	padding: 0px;
}

.navbar .navbar-nav .nav-link{
	background-color: lightgrey;
	color: black;
}

.navbar .navbar-nav .nav-link:hover{
	background-color: coral;
}

.navbar-brand h1{
	margin-left: 15px;
}


.navbar-toggler{
	margin-right: 5px;
}

h2{
	margin: 30px;
}

div.container .col-xs-12{
	background-color: gray;
	height: 1000px;
	margin-bottom: 30px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}


@media (max-width: 575px){
	div.container .col-xs-12{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		height: 1000px;
	}
}